<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDR3Ria3RAWAHwZ01ztt6No2ySTUs65FK8</string>
	<key>GCM_SENDER_ID</key>
	<string>660805434568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.koreanLearningApp</string>
	<key>PROJECT_ID</key>
	<string>auth-250be</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-250be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660805434568:ios:9d2fa68901edf057a3b9fd</string>
</dict>
</plist>