#root {
  display: flex; /* Użycie flexbox do zarządzania układem */
  flex-direction: column; /* Elementy wewnątrz układane w kolumnie */
  align-items: center; /* Centruje zawartość poziomo */
  justify-content: center; /* Centruje zawartość pionowo */
  width: 100%; /* Rozciąga na pełną szerokość */
  height: 100%; /* Rozciąga na pełną wysokość */
  margin: 0; /* Usuwa automatyczne marginesy */
  padding: 0; /* Usuwa domyślny padding */
  text-align: left; /* Domyślne wyrównanie tekstu */
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
